# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.pub/
*.iml
.idea/
.vscode/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks
.DS_Store
screenshots/

# Fastlane secrets & generated outputs
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/test_output/
**/.env
android/fastlane/play-store-service-account.json
ios/fastlane/*.p8
ios/fastlane/asc_keys/
**/*.mobileprovision
**/*.p12
